<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
<!--flask sees double curly braces, looks at text and knows its the route from lines 12 and 17 on run.py, the names must match the view*-->
             <li><a href="{{ url_for('index') }}">Home</a></li>   <!--jinja templating method of url for-->
             <li><a href="{{ url_for('about') }}">About</a></li>
             <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
    <h1>About Page</h1>
</body>
</html>